$font-color: #fff;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #2d2b33;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
